* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ec8814;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #ca0a0a79;
}
.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}
.logo {
  width: 200px;
  margin-bottom: 1rem;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  max-width: 180px;
  margin: 0.5rem;
  padding: 0.5rem;
  /* background-color: #49d0b0; */
  color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 2px 5px 10px rgba(10, 10, 10, 10);
}
.pokemon-info .info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 0.3rem;
}
.info > .number {
  font-size: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  font-weight: 600;
  color: black;
  opacity: 0.4;
}
.info > .name {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  text-transform: capitalize;
}
.pokemon {
  display: flex;
  justify-content: space-between;
}
.types {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}
.type {
  font-size: 0.6rem;
  font-weight: 600;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  color: #fff;
  filter: brightness(1.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.pokemon img {
  max-width: 100px;
  height: 50px;
  margin-top: 0.5rem;
  align-self: flex-end;
  justify-self: end;
}

#loadMoreBtn {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  margin: 2rem 0;
  color: #fff;
  background-color: rgba(128, 0, 128, 0.616);
}
.hide {
  display: hide;
}
@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
